<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In to Donut</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="sign-in-dialog">
        <p class="sign-in heading">Sign in to continue<p>
        <hr class="divider">
        <div class="button">
            <span class="google"></span>
            <span class="sign-in button-text">Sign in with Google</span>
        </div>
        <div class="terms-div">
            <span class="terms">
                New here? Donut is safe for everyone!
            </span>
            <span class="terms">
                By signing in, you agree to our <span id="terms">terms</span> and <span id="privacy">privacy policy</span>
            </span>
        </div>
    </div>
</body>
</html>